### vscode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

### Node ###
ui/node_modules/.cache/*
ui/node_modules/
ui/node_modules/*